---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="services">
    <h1>barbershop Alajuela</h1>
    <p>Crea tu estilo con excelentes barberos y excelentes precios</p>
    <div class="buttons-cont">
      <button><a href="/">Agendar</a></button>
      <button><a href="/">Agendar</a></button>
    </div>
  </section>
  <section>
    <div class="cards-cont">
      <div class="card">
        <h1>Cortes de Pelo</h1>
        <p>Cambia tu estilo a manos de profecionales</p>
      </div>
      <div class="card">
        <h1>Cortes de barba</h1>
      </div>
      <div class="card">
        <h1>Diseño de cejas</h1>
      </div>
      <div class="card">
        <h1>Afeitado clásico</h1>
      </div>
      <div class="card">
        <h1>Tratamientos capilares</h1>
      </div>
      <div class="card">
        <h1>Tintado de cabello</h1>
      </div>
    </div>
  </section>
  <section></section>
  <section></section>
</Layout>

<style>
  section {
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid #ccc;
    scroll-snap-align: start;
  }

  section:nth-of-type(1) {
    background-color: #c40707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section:nth-of-type(2) {
    background-color: #a6b616;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section:nth-of-type(3) {
    background-color: #124630;
  }
  section:nth-of-type(4) {
    background-color: #a1cf35;
  }

  .cards-cont {
    width: 90%;
    height: 90%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 500px;
    height: 300px;
    background-color: rgb(34, 108, 172);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
