<footer>
  <div class="container-1">
    
    <div class="name-cont">
      <div class="brand-cont">
        <h1>BarberShop Alajuela</h1>
      </div>
      <div class="social-icons">
        <a href="#" aria-label="Facebook">
          <img class="icon1" src="/facebook.svg" alt="Facebook" />
        </a>
        <a href="#" aria-label="TikTok">
          <img class="icon2" src="/tiktok.svg" alt="TikTok" />
        </a>
        <a href="#" aria-label="Instagram">
          <img class="icon3" src="/instagram.svg" alt="Instagram" />
        </a>
        <a href="#" aria-label="Whatsapp">
          <img class="icon4" src="/whatsapp.svg" alt="Whatsapp" />
        </a>
      </div>

      <hr />


      <div class="decription-cont">
        <p>
          Disfruta de una experiencia personal a la hora de estilizar <br />tu
          apariencia con los mejores barberos de alajuela
        </p>
      </div>
    </div>


    <div class="contact-cont">
      <div class="services-cont">
        <h1>servicios</h1>
        <ul>
          <li>Cortes de pelo</li>
          <li>Cortes de barba</li>
          <li>Diseño de cejas</li>
          <li>Afeitado clásico</li>
          <li>Tratamientos capilares</li>
          <li>Tintado de cabello</li>
        </ul>
      </div>
      <div class="menu">
        <h1>Menu</h1>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/agendar">Agendar</a></li>
          <li><a href="/servicios">Servicios</a></li>  
          <li><a href="/productos">Productos</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/cuenta">Contacto</a></li>
        </ul>
      </div>
      <div class="contact">
        <h1>Contacto</h1>
        <h2>Telefono</h2>
        <p>+506 1234 5678</p>
        <h2>Email</h2>
        <p>BarberShopAlajuela@gmail.com
        <h2>Direccion</h2>
        <p>Alajuela, frente al parque central </p>
      </div>
    </div>



    <div class="map-cont">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4809.31539529068!2d-84.21503055352197!3d10.016246845875148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1761614267260!5m2!1ses!2scr"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <hr />
  <div class="politic-content">
    <p>&copy; 2025 Mi Dashboard. Todos los derechos reservados.</p>
  </div>
  
</footer>

<style>
  footer {
    background-color: #252525;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1rem;
    height: auto;
  }
  .container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;

  }

  .name-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .brand-cont {
    margin-bottom: 12px;
    padding: 4px;
  }

  .decription-cont {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-cont {
    width: 40%;
    display: flex;
    flex-direction: row;
   
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    
  }

  .menu {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .politic-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 0.9em;
  }
  .map-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .social-icons {
    display: flex;
    gap: 12px;
    width: auto;
    
  }

  .icon1, .icon2, .icon3, .icon4 {
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
  
  }

  iframe {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    filter: grayscale(0.6);
  }

  hr {
    border: none; /* elimina el borde por defecto */
    height: 2px; /* grosor de la línea */
    background-color: #ffffff; /* color */
    width: 95%; /* ancho */
    margin: 1rem auto; /* espacio alrededor y centrado */
    border-radius: 2px; /* bordes suaves */
  }

  .icon1:hover {
    transform: scale(1.1);
    background-color: #b4c6ee;
  }

   .icon2:hover {
    transform: scale(1.1);
    background-color: #eaeaeb8c;
  }


   .icon3:hover {
    transform: scale(1.1);
    background-color: #eeb4c0;
  }


   .icon4:hover {
    transform: scale(1.1);
    background-color: #b4eeb7;
  }



  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    color: tomato;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: wheat;
  }

  p {
    margin: 0.2rem 0;
    padding: 0;
    font-size: 1em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
  }

  a  {
    color: white;
    text-decoration: none;
  }
  a:hover  {
    color: wheat;
    text-decoration: none;
  }

  li {
    margin: 0.3rem 0;
    font-size: 1em;
  }
  
</style>
